on boot

# NFC
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc

# NFC : Permissions for NFC
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc

# NFC : EFS section for NFC Resonant Frequency
    mkdir /efs/sec_efs/nfc 0700 nfc nfc

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/adc
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/status
    chown system radio /sys/class/sensors/magnetic_sensor/dhr_sensor_info

# Grip_sensor
    chown system radio /sys/class/sensors/grip_sensor/name
    chown system radio /sys/class/sensors/grip_sensor/vendor
    chown system radio /sys/class/sensors/grip_sensor/raw_data
    chown system radio /sys/class/sensors/grip_sensor/threshold
    chown system radio /sys/class/sensors/grip_sensor/calibration
    chown system radio /sys/class/sensors/grip_sensor/onoff
    chown system radio /sys/class/sensors/grip_sensor/reset
    chown system radio /sys/class/sensors/grip_sensor/mode
    chown system radio /sys/class/sensors/grip_sensor/gain
    chown system radio /sys/class/sensors/grip_sensor/start
    chown system radio /sys/class/sensors/grip_sensor/normal_threshold
    chown system radio /sys/class/sensors/grip_sensor/gain_ch2
    chown system radio /sys/class/sensors/grip_sensor/raw_data_ch2
    chown system radio /sys/class/sensors/grip_sensor/diff_avg_ch2
    chown system radio /sys/class/sensors/grip_sensor/normal_threshold_ch2
    chown system radio /sys/class/sensors/grip_sensor/ch_state
    chown system radio /sys/class/sensors/grip_sensor/body_threshold
    chown system radio /sys/class/sensors/grip_sensor/freq
    chown system radio /sys/class/sensors/grip_sensor/grip_flush
    chown system radio /sys/class/sensors/grip_sensor/irq_count

# Proximity_sensor
   chown system radio /sys/class/sensors/proximity_sensor/prox_probe

# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/barometer_sensor/temperature

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sensor_dump

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/light_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/prox_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sig_motion_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_cnt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/interrupt_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/tilt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pickup_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chown system radio /sys/class/sensors/ssp_sensor/int_gyro_enable
    chown system radio /sys/class/sensors/ssp_sensor/sensor_state
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

# MOBEAM
   chown system radio /sys/class/sec/sec_barcode_emul/vendor
   chown system radio /sys/class/sec/sec_barcode_emul/name
   chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
   chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status
   chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check

 # Permissions for Touchkey
   chown system radio /sys/class/sec/sec_touchkey/touchkey_light_version
   chown system radio /sys/class/sec/sec_touchkey/touchkey_light_update
   chown system radio /sys/class/sec/sec_touchkey/touchkey_light_id_compare
   chown system radio /sys/class/sec/sec_touchkey/touchkey_light_table_write
