on early-init
    mkdir /cpefs 0771 radio system
mount debugfs /sys/kernel/debug /sys/kernel/debug

on init 
    symlink /system/vendor /vendor

on post-fs
    # Mobicore
    setprop sys.mobicoredaemon.enable stopped
    
on post-fs-data
    # Mobicore
    export MC_AUTH_TOKEN_PATH /efs
    mkdir /efs/TEE  0770 radio system
    mkdir /data/system_ce 0770 system system
    chmod 0660 /dev/t-base-tui
    chown system system /dev/t-base-tui
    start mobicore

    # create basic filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluedroid 02770 bluetooth bluetooth
    
    # Fix the access permissions and group ownership for 'bt_config.conf'
    chmod 0660 /data/misc/bluedroid/bt_config.conf
    chown bluetooth bluetooth /data/misc/bluedroid/bt_config.conf
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/gatekeeper 0700 system system
    mkdir /data/misc/keychain 0771 system system
    mkdir /data/misc/net 0750 root shell
    mkdir /data/misc/radio 0775 system radio
    mkdir /data/misc/sms 0770 system radio
    mkdir /data/misc/zoneinfo 0775 system system
    mkdir /data/misc/vpn 0770 system vpn
    mkdir /data/misc/shared_relro 0771 shared_relro shared_relro
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/wifi_hostapd 0771 wifi system
    mkdir /data/misc/wifi_share_profile 0771 wifi system
    mkdir /data/misc/ethernet 0770 system system
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/user 0771 root root
    mkdir /data/misc/perfprofd 0775 root root
    
    # give system access to wpa_supplicant.conf for backup and restore
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/local 0751 root root
    mkdir /data/misc/media 0700 media media
    mkdir /data/misc/mediacodec 0700 mediacodec mediacodec
    mkdir /data/misc/audioserver 0700 audioserver audioserver
    mkdir /data/misc/cameraserver 0700 cameraserver cameraserver
    mkdir /data/misc/vold 0700 root root
    mkdir /data/misc/boottrace 0771 system shell
    mkdir /data/misc/update_engine 0700 root root
    mkdir /data/misc/trace 0700 root root
    
    # profile file layout
    mkdir /data/misc/profiles 0771 system system
    mkdir /data/misc/profiles/cur 0771 system system
    mkdir /data/misc/profiles/ref 0771 system system

    # Permissions for gnss
    chmod 0660 /dev/gnss_ipc
    chown system system /dev/gnss_ipc

on boot

    setprop wifi.interface.started 1

    # Disable touch input booster // USELESS BATTERY DRAIN
    write /sys/class/input_booster/level 0

    # basic network init
    ifup lo
    hostname localhost
    domainname localdomain

    #lpnetConfig AppSync
    mkdir /data/misc/lpnet 0700 system system

    # Audio I2C node for TFA amp
    chmod 0660 /dev/i2c-20
    chown audio audio /dev/i2c-20
    chown bluetooth net_bt /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    
    # Permissions for Bluetooth.
    mkdir /efs/bluetooth 0775 radio system
    chown radio system /efs/bluetooth
    chmod 0775 /efs/bluetooth
    setprop ro.bt.bdaddr_path /efs/bluetooth/bt_addr
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo
  
    # Permissions for Camera
    mkdir /data/camera 0770 media system
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_caminfo
    chown system radio /sys/class/camera/rear/rear_sensorid
    chown system radio /sys/class/camera/rear/rear_moduleid
    chown system radio /sys/class/camera/flash/front_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camfw_full
    chown system radio /sys/class/camera/front/front_checkfw_factory
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/camera/front/front_caminfo
    chown system radio /sys/class/camera/front/front_sensorid

    # Permissions for Fingerprint_sensor
    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor
    chown system radio /sys/class/fingerprint/fingerprint/adm
    chown system system /dev/esfp0
    chmod 0660 /dev/esfp0

    # Permission for HALL IC
    chown system system /sys/class/sec/sec_key/hall_detect

    # HALL IC IRQ CTRL
    chown system system /sys/class/sec/sec_key/hall_irq_ctrl

    # Permissions for LCD
    chown system radio /sys/class/lcd/panel/manufacture_code
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature
    chown system radio /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/lux
    chown system system /sys/class/lcd/panel/adaptive_control
    chown system system /sys/class/lcd/panel/alpm
    chown system system /sys/class/lcd/panel/dpui
    chown system system /sys/class/lcd/panel/dpui_dbg
    chown system system /sys/devices/svc/OCTA/SVC_OCTA
    
    ## Sensors permissions ##
    
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter

# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
    chown system radio /sys/class/sensors/proximity_sensor/prox_probe

# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name

# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name

# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/barometer_sensor/temperature

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sensor_dump

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/light_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/prox_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sig_motion_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_cnt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/interrupt_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/tilt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pickup_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chown system radio /sys/class/sensors/ssp_sensor/int_gyro_enable
    chown system radio /sys/class/sensors/ssp_sensor/sensor_state
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

# MOBEAM
    chown system radio /sys/class/sec/sec_barcode_emul/vendor
    chown system radio /sys/class/sec/sec_barcode_emul/name
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check

# Meta event
    chown system radio /sys/class/sensors/sensor_dev/flush

    ## End of sensors permissions ##

    # Permission for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

    # Permissions for SVC LED
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_lowpower
    chown system system /sys/class/sec/led/led_pattern

    # Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled
    chmod 0660 /sys/class/sec/tsp/input/enabled

    #permission for TSP, Touchkey
    chown system radio /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/input/enabled
    chown system system /sys/class/sec/tsp/input/enabled
    chmod 0660 /sys/class/sec_touchkey/input/enabled
    chown system system /sys/class/sec/sec_touchkey/input/enabled
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_update
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_table_write
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset
    chown system radio /sys/class/sec/sec_touchkey/touchkey_earjack
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_id_compare

    # Allow to access debugfs for system:system
    chmod 755 /sys/kernel/debug
    chown system system /sys/kernel/debug

    # Permission for Vibrator
    chown system system /sys/class/timed_output/vibrator/enable

    # Permissions for System LSI NFC
    # NFC : Permissions for NFC
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc
    # Permissions for S.LSI ESE
    chmod 0660 /dev/p3
    chown system system /dev/p3

    # NFC
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc
    mkdir /data/bcmnfc 0700 nfc nfc
    mkdir /data/bcmnfc/param 0700 nfc nfc

    # Samsung Pay
    # mkdir /efs/pfw_data 0760 spay spay

    # MST/NFC Switch
    # chown spay system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl

    # Permission for Wifi firmware_path
    chown wifi wifi /sys/module/dhd/parameters/firmware_path

    # Permission for Mobicore
    chown radio system /dev/mobicore-user
    chown system system /dev/mobicore
    chown system system /dev/s5p-smem
    chmod 0666 /dev/mobicore-user
    chmod 0700 /dev/mobicore
    chmod 0660 /dev/s5p-smem

on nonencrypted
    mkdir /data/misc/mcRegistry 0775 system system

on property:vold.decrypt=trigger_restart_framework
    mkdir /data/misc/mcRegistry 0775 system system

# Bluetooth
on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
     stop start_hci_filter
    
on property:sys.sf.restart=1
     restart surfaceflinger

on property:sys.boot_completed=1
    pdp result
    start iod

service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin -r /system/app/mcRegistry/ffffffffd00000000000000000000016.tlbin
    class core
    user system
    group system
    disabled

# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

# IO stats Deamon
service iod /system/bin/iod
    user system
    group shell
    class main
    oneshot
    disabled

# wcnss filter
service start_hci_filter /system/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth qcom_diag
    disabled

on property:init.svc.bootanim=stopped
    # set property for touchkey light voltage table
    chown system system /efs/FactoryApp/tkey_light_version
    chown system system /efs/FactoryApp/tkey_light_crc
    chown system system /efs/FactoryApp/tkey_light0
    chown system system /efs/FactoryApp/tkey_light1
    chown system system /efs/FactoryApp/tkey_light2
    chown system system /efs/FactoryApp/tkey_light3
    chown system system /efs/FactoryApp/tkey_light4
    chown system system /efs/FactoryApp/tkey_light5
    chown system system /efs/FactoryApp/tkey_light6
    chown system system /efs/FactoryApp/tkey_light7
    chown system system /efs/FactoryApp/tkey_light8
    chown system system /efs/FactoryApp/tkey_light9
    chown system system /efs/FactoryApp/tkey_light10
    chown system system /efs/FactoryApp/tkey_light11
    chown system system /efs/FactoryApp/tkey_light12
    chown system system /efs/FactoryApp/tkey_light13
    chown system system /efs/FactoryApp/tkey_light14
    chown system system /efs/FactoryApp/tkey_light15
